body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-image: url(../img/pattern.jpg);
}

main {
  flex: 1 0 auto;
}

nav ul li a {
  color: black;
}

.img-logo {
  height: 64px;
}

.material-icons {
  color: black;
}

h1 {
  text-align: center;
}

.img-bgr {
  background-color: white;
}

.footer-text {
  padding-bottom: 10px;
}

#post1,
#post2,
#post3,
#post4,
#post5 {
  border-bottom: 2px solid black;
  margin-bottom: 10px;
}
